.Input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  padding: 6px 10px;
  font-size: 22px;
  font-family: "montserrat";
  background-color: #fff;
}

.Input::placeholder {
  font-size: 16px;
  opacity: 0.8;
  color: #333;
  text-transform: capitalize;
}

.Input:focus {
  outline: none;
  background-color: #eee;
}
.Label {
  text-transform: capitalize;
  font-family: "montserrat";
  font-size: 20px;
  padding-left: 10px;
}

.Error {
  color: red;
  font-size: 14px;
  opacity: 0.8;
  padding-left: 10px;
  margin: 0;
}

.Invalid {
  border: 1px solid red;
  background-color: rgba(250, 128, 114, 0.3);
}

.InputHolder {
  margin-bottom: 10px;
}
