* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "fugaz one", "montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: rgb(252, 214, 2);
  background: -moz-radial-gradient(
    circle,
    rgba(252, 214, 2, 1) 0%,
    rgba(252, 212, 2, 1) 12%,
    rgba(250, 147, 0, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(252, 214, 2, 1) 0%,
    rgba(252, 212, 2, 1) 12%,
    rgba(250, 147, 0, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(252, 214, 2, 1) 0%,
    rgba(252, 212, 2, 1) 12%,
    rgba(250, 147, 0, 1) 100%
  );
}

@font-face {
  font-family: "fugaz one";
  src: url("./assets/fonts/fugaz-one/FugazOne-Regular.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}
